<footer
  class="footer container-fluid d-flex align-items-center justify-content-center"
>
  <img class="imgFooter" src="/img/logo.png" alt="Logo Caritá" />
  <div class="rodape">
    <p>Nos acompanhe nas nossas redes sociais</p>
    <div class="d-flex align-items-center justify-content-center">
      <a href="https://www.facebook.com" target="_blank">
        <img
          class="redesSociais"
          src="img/facebook.png"
          alt="Logo do Facebook"
        />
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <img
          class="redesSociais"
          src="img/instagram.png"
          alt="Logo do Instagram"
        />
      </a>
    </div>
  </div>
</footer>
<div class="faixaFooter"></div>
