<header class="navbar col-12">
  <nav class="container-fluid col-12">
    <img
      routerLink="/pagina-inicial"
      src="/img/logo.png"
      alt="Logo"
      width="90px"
      class="d-inline-block align-text-top"
    />
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="" class="nav-link bs-body-color"
          >Página Inicial</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/pagina-sobre"
          class="nav-link bs-body-color-rgb $orange-500"
          >Sobre</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/pagina-conteudo" class="nav-link">Conteúdo</a>
      </li>
      <li class="nav-item">
        <a routerLink="/pagina-comoAjudar" class="nav-link">Como ajudar</a>
      </li>
      <li class="nav-item">
        <a routerLink="/pagina-contato" class="nav-link">Contato</a>
      </li>
      <li class="nav-item">
        <a routerLink="/pagina-login" class="nav-link" href="login.html"
          >Login</a
        >
      </li>
    </ul>
  </nav>
</header>
