<!--Parceiros (Como Ajudar)-->
<div class="parceiros text-center py-4 bg-light">
  <p class="fs-5 fw-bold">PARCEIROS</p>
  <div class="listagemParceiros m-2 d-flex justify-content-center flex-wrap">
    <div class="foto text-center p-3 rounded m-2">
      <img class="img-fluid" src="/img/Como_Ajudar/fatec-votorantim.png" alt="">
    </div>
    <div class="foto text-center p-3 rounded m-2">
      <img class="img-fluid" src="/img/Como_Ajudar/parceiro 1.png" alt="">
    </div>
    <div class="foto p-3 rounded m-2">
      <img class="img-fluid" src="/img/Como_Ajudar/parceiro 2.png" alt="">
    </div>
    <div class="foto  p-3 rounded m-2">
      <img class="img-fluid" src="img/Como_Ajudar/parceiro 3.png" alt="">
    </div>
    <div class="foto  p-3 rounded m-2">
      <img class="img-fluid" src="img/Como_Ajudar/parceiro 4.png" alt="">
    </div>
    <div class="foto  p-3 rounded m-2">
      <img class="img-fluid" src="img/Como_Ajudar/parceiro 5.png" alt="">
    </div>
  </div>
</div>
