<!-- Cartões (Noticias)-->
<!-- Cartões com For para Seleção de dados-->
<div class="card">
  <div
    *ngFor="let Informacoesnoticias of categorias"
    class="row g-1 noticia"
  >
    <div class="col-md-4">
      <img
        src="{{ Informacoesnoticias.image }}"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8 texto-noticia">
      <div class="card-body">
        <h5 class="card-title titulo-noticia">
          {{ Informacoesnoticias.title }}
        </h5>
        <p class="card-text">{{ Informacoesnoticias.description }}</p>
        <button class="botao-noticia">
          <a class="link" routerLink= "{{Informacoesnoticias.rotas}}">{{Informacoesnoticias.button}}</a>
          
        </button>
      </div>
    </div>
  </div>
</div>
