<!--Dados Representante Parceiros-->
<div class="container-fluid main-content">
  <!-- Conteudo Pagina-->
  <div class="page-container">
    <!--SideBar-->
    <div class="sidebar">
      <div class="sidebar-content">
        <div class="dados-instituição d-flex flex-column align-items-center">
          <img
            src="/img/Usuario/img-perfil.png"
            alt="Logo"
            class="img-usuario d-inline-block align-text-top"
          />
          <a class="navbar-brand"> Olá, nome Parceiro! </a>
        </div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              routerLink="/pagina-parceiros"
              class="nav-link active"
              aria-current="page"
              >Dados Parceiro</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/pagina-RepresentanteParceiros" class="nav-link"
              >Dados Parceiros Representante</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/pagina-pontosArrecadacaoParceiros" class="nav-link"
              >Cadastrar Ponto de Arrecadação</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/pagina-desativarParceiro" class="nav-link"
              >Desativar</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!--Form Reativo-->

    <div class="main-content flex-grow-1">
      <form
        [formGroup]="RepresentanteParceirosForm"
        (ngSubmit)="onSubmit()"
        class="form-content container-fluid"
      >
        <h2 class="text-center">Dados do Representante</h2>

        <!--INput Nome-->
        <div class="row align-items-center">
          <div class="form-group col-11">
            <label for="org-name">Nome</label>
            <input
              formControlName="nome"
              type="text"
              id="org-name"
              name="org-name"
              class="form-control"
              placeholder="Nome completo"
            />

            <!--Validação Nome-->
            <div
              *ngIf="
                RepresentanteParceirosForm.get('nome')?.invalid &&
                RepresentanteParceirosForm.get('nome')?.touched
              "
            >
              <span class="text-danger">O campo não pode estar vazio</span>
            </div>
          </div>
        </div>

        <!-- Input de CPF  -->
        <div class="row align-items-center mt-3">
          <div class="form-group col-11">
            <label for="cpf">CPF</label>
            <input
              formControlName="CPF"
              type="text"
              id="cpf"
              name="cpf"
              class="form-control"
              placeholder="000.000.000-00"
            />
            <!--Validação CPF-->
            <div
              *ngIf="
                RepresentanteParceirosForm.get('CPF')?.invalid &&
                RepresentanteParceirosForm.get('CPF')?.touched
              "
            >
              <span class="text-danger">O CPF deve conter 11 digitos</span>
            </div>
          </div>
        </div>

        <!--Input Email-->
        <div class="row align-items-center mt-3">
          <div class="form-group col-11">
            <label for="email">Email</label>
            <input
              formControlName="email"
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="exemplo@dominio.com"
            />

            <!--Validação Email-->
            <div
              *ngIf="
                RepresentanteParceirosForm.get('email')?.invalid &&
                RepresentanteParceirosForm.get('email')?.touched
              "
            >
              <span class="text-danger">Email Inválido</span>
            </div>
          </div>
        </div>

        <!--Termos-->

        <div class="alert col-11">
          <span>
            Ao atualizar o representante, o novo indicado receberá um e-mail com
            as instruções para aceitar a responsabilidade. Após a aceitação,
            todos os acessos administrativos serão concedidos ao novo
            representante
          </span>
        </div>

        <!-- Button  -->
      
        <div class="d-grid justify-content-center">
          <button
            type="submit"
            class="btn btn-enviar"
            [disabled]="RepresentanteParceirosForm.invalid"
          >
            Enviar
          </button>

          <div *ngIf="showAlert" class="alert mt-3 text-center" role="alert">
            Dados enviados com sucesso!
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
