<div class="body">
  <main class="container mt-5">
    <img
      src="/img/logo.png"
      class="img-fluid img-logo d-block mx-auto mb-4"
      alt="Logo"
    />
    <article>
      <h1 class="display-4 text-center mb-4 titulo-materia">
        Alimentos Não Perecíveis: Cuidados e Formas de Doação
      </h1>
      <h2 class="h3 mt-4 title">O Que São Alimentos Não Perecíveis?</h2>

      <p class="text">
        Alimentos não perecíveis são aqueles que possuem um tempo de
        armazenamento prolongado, sem a necessidade de refrigeração. Eles são
        geralmente embalados de forma a evitar a deterioração, sendo altamente
        nutritivos e práticos para estocar. Exemplos comuns incluem arroz,
        feijão, macarrão, enlatados, farinhas, açúcar, café, leite em pó, entre
        outros.
      </p>

      <h2 class="h3 mt-4 title">Cuidados no Armazenamento</h2>
      <p class="text">
        Para garantir a qualidade e a segurança dos alimentos não perecíveis,
        alguns cuidados são essenciais:
      </p>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Armazenamento Adequado:</strong> Manter os alimentos em locais
          secos, frescos e ao abrigo da luz solar direta é crucial para evitar a
          proliferação de fungos e bactérias. Evite locais úmidos, pois a
          umidade pode causar mofo e deterioração.
        </li>
        <li class="list-group-item">
          <strong>Controle de Pragas:</strong> Utilize recipientes herméticos ou
          caixas bem fechadas para proteger os alimentos contra insetos e
          roedores. Armários e despensas devem ser limpos regularmente para
          evitar a presença de pragas.
        </li>
        <li class="list-group-item">
          <strong>Rotação de Estoque:</strong> Adote o sistema PEPS (Primeiro a
          Entrar, Primeiro a Sair) para garantir que os alimentos mais antigos
          sejam consumidos primeiro. Verifique periodicamente as datas de
          validade e consuma os produtos antes que expirem.
        </li>
        <li class="list-group-item">
          <strong>Verificação de Embalagens:</strong> Antes de estocar,
          inspecione as embalagens para garantir que estejam intactas. Evite
          armazenar alimentos em latas amassadas ou pacotes danificados, pois
          podem estar comprometidos.
        </li>
      </ul>

      <h2 class="h3 mt-4 title">Formas de Doar Alimentos Não Perecíveis</h2>
      <div class="d-flex justify-content-center">
        <img
          class="img-fluid mb-4"
          src="/img/Conteudo/alimentos_naopereciveis-conteudo(p).JPG"
          alt="Imagem de alimentos não perecíveis"
        />
      </div>
      <p class="text">
        A doação de alimentos não perecíveis é uma maneira eficaz de ajudar
        comunidades carentes e instituições de apoio. Para garantir que sua
        doação seja bem aproveitada, considere as seguintes dicas:
      </p>
      <ul class="list-group mb-4">
        <li class="list-group-item">
          <strong>Selecionar Produtos Adequados:</strong> Escolha alimentos com
          longas datas de validade e em embalagens seguras. Evite itens
          perecíveis ou com validade próxima.
        </li>
        <li class="list-group-item">
          Organizar a Doação: Separe os alimentos por categoria (grãos,
          enlatados, farináceos, etc.) para facilitar a distribuição.
          Certifique-se de que os produtos estejam em boas condições e limpos.
        </li>
        <li class="list-group-item">
          <strong>Pontos de Coleta:</strong> Identifique pontos de coleta em sua
          comunidade, como bancos de alimentos, ONGs, igrejas e escolas que
          promovem campanhas de arrecadação. Informe-se sobre as necessidades
          específicas desses locais.
        </li>
        <li class="list-group-item">
          <strong>Doação Direta:</strong> Se possível, doe diretamente para
          famílias em situação de vulnerabilidade em sua comunidade. Esse gesto
          pode fazer uma diferença imediata e significativa na vida dessas
          pessoas.
        </li>
        <li class="list-group-item">
          <strong>Participação em Campanhas:</strong> Participe de campanhas de
          doação organizadas por empresas, instituições de ensino, ou grupos
          comunitários. Essas campanhas geralmente possuem logística eficiente
          para coletar e distribuir as doações.
        </li>
      </ul>

      <h2 class="h3 mt-4 title">Impacto das Doações</h2>
      <p class="text">
        Doar alimentos não perecíveis ajuda a combater a insegurança alimentar e
        a apoiar comunidades em tempos de crise, promovendo solidariedade e
        fornecendo nutrição essencial.
      </p>
    </article>
  </main>
</div>
