<!--Missão, Visão Valores-->
<div class="missao-secao d-flex justify-content-center align-items-center">
  <div class="missao">
    <h3>Nossa Missão, Visão e Valores</h3>
  </div>
</div>

<div class="msv">
  <div class="container justify-content-center">
    <div class="row row justify-content-md-center align-items-start">
      <div class="col text-center">
        <div class="missao-box">
          <img
            src="/img/Sobre/mission.png"
            alt=""
            class="icon"
            width="150px"
            height="150px"
          />
          <h4>MISSÃO</h4>
          <p>
            Reduzir a fome em Votorantim de forma eficiente, garantindo que os
            alimentos doados sejam seguros e adequados para as famílias
            necessitadas.
          </p>
        </div>
        <!--missao box-->
      </div>

      <div class="col-md-auto d-flex justify-content-center">
        <div class="linha"></div>
      </div>

      <div class="col text-center">
        <div class="missao-box">
          <img
            src="/img/Sobre/idea-bulb.png"
            alt=""
            class="icon"
            width="150px"
            height="150px"
          />
          <h4>VISÃO</h4>
          <p>
            Criar uma comunidade solidária e consciente, onde a fome seja
            reduzida significativamente através de um processo de doação
            acessível, transparente e eficaz.
          </p>
        </div>
        <!--visao box-->
      </div>

      <div class="col-md-auto d-flex justify-content-center">
        <div class="linha"></div>
      </div>

      <div class="col text-center">
        <div class="missao-box">
          <img
            src="/img/Sobre/kind.png"
            alt=""
            class="icon"
            width="150px"
            height="150px"
          />
          <h4>VALORES</h4>
          <ul>
            <li>Solidariedade;</li>
            <li>Transparência;</li>
            <li>Responsabilidade;</li>
            <li>Eficiência;</li>
            <li>Compromisso com a causa.</li>
          </ul>
        </div>
        <!--missao box-->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- msv -->
