<!--Div Body Campos Login-->
<div class="body">
  <!--Alinha Itens no centro-->
  <div
    class="container d-flex justify-content-center align-items-center vh-100"
  >
    <!--Container Login-->
    <div class="login-container">
      <!--Form Campos Login-->
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()"  class="login-form p-4">
        <h2 class="text-center mb-4">Login</h2>

        <!--Input Email-->
        <div class="mb-3">
          <input
            formControlName="email"
            id="email"
            type="email"
            class="form-control"
            placeholder="Insira seu email"
            required
          />

          <!--Validação Email-->
          <div
            *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched"
          >
            <span class="text-danger">Email Inválido</span>
          </div>

          <!--Input Senha-->
        </div>
        <div class="mb-3">
          <input
            formControlName="senha"
            id="senha"
            type="password"
            class="form-control"
            placeholder="Insira sua senha"
            required
          />

          <!--Validação Senha-->
          <div
            *ngIf="myForm.get('senha')?.invalid && myForm.get('senha')?.touched"
          >
            <span class="text-danger">
              sua senha deve conter pelo menos 6 caracteres</span
            >
          </div>
        </div>

        <!--Botão Entrar-->
        <div class="d-grid gap-2">
          <button type="submit"  class="btn btn-primary">
            Entrar
          </button>

          <!--Link para página de Cadastro-->
        </div>
        <div class="text-center mt-3">
          <a routerLink="/pagina-cadastro">Criar conta</a>
        </div>
      </form>
    </div>
  </div>
</div>