.body {
  font-family: 'Poppins';
  background: url('/img/Login-Cadastro/background login- desfoque.png') no-repeat center center fixed;
  background-size: cover;
  }


.login-form {
  border-radius: 8px;
  text-align: center;
  border: none;
}

.login-form h2 {
  font-weight: bolder;
  font-size: 44px;
  color: white; 
}

.login-form input {
  width: 400px;
  height: 50px;
  margin-bottom: 1.75rem;
  border-radius: 15px;
  font-size: 1rem;
  
}

::placeholder {
  text-align: center;
  color: var(--cor-texto-primaria);
  }

.login-form button {
  padding: 0.75rem;
  background-color: #F08F36;
  border: none;
  border-radius: 40px;
  color: #000000;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

.login-form button:hover {
  background-color: #F9C89B;
}

.login-form a {
  text-decoration: none;
  color: white; /* Cor do link "Criar conta" */
}

