<!--Como ajudar Maps-->
<div style="display: inline-flexbox">
  <!--Faixa Como Ajudar-->
  <div class="faixaCA text-center">
    <h1>Como Ajudar</h1>
  </div>
</div>

<!--Div Descrição-->
<div class="d-flex text-center">
  <div class="textoinicial">
    <p>
      As doações de alimentos são essenciais para manter nossos pontos de
      arrecadação abastecidos e garantir que as famílias em situação de
      vulnerabilidade tenham acesso a alimentos essenciais. Abaixo, você
      encontrará uma lista com os locais onde pode fazer suas doações no ponto
      mais próximo.
    </p>
  </div>
</div>

<!--Div containers conteudo-->
<div class="container">
  <!--Endereço-->
  <div class="endereços">
    <h4 class="text-center p-2"><strong> Pontos de Captação </strong></h4>
    <p class="butao">Endereço 1</p>
    <hr style="border: 1px solid; color: #522916" />
    <p class="butao">Endereço 2</p>
    <hr style="border: 1px solid; color: #522916" />
    <p class="butao">Endereço 3</p>
    <hr style="border: 1px solid; color: #522916" />
    <p class="butao">Endereço 4</p>
    <hr style="border: 1px solid; color: #522916" />
  </div>

  <!--Maps-->
  <div class="col-md-6">
    <app-google-maps></app-google-maps>
  </div>
</div>

