<div class="body">

  <div class="login-container">
    <div class="text-center">
      <h1 class="mb-4 text-white">Cadastro</h1>

      <button class="btn btn-lg">
        <a routerLink="/pagina-parceiros" class="text-white text-decoration-none"
          >Cadastrar como Parceiro</a
        >
      </button>
      <br />
      <button class="btn btn-lg">
        <a routerLink="/pagina-ong" class="text-white text-decoration-none"
          >Cadastrar como Organização/Ong</a
        >
      </button>
    </div>
  </div>
</div>
