<!--Card Sobre Caritá (Sobre)-->
<!--Alinha itens ao centro -->
<div
  class="topo-site container-fluidcontainer-fluid align-items-center justify-content-center text-center"
>
  <!--Div alinhar conteudo-->
  <div class="d-flex">
    <div class="row align-items-center justify-content-center text-center">
      <!--Div Imagem logo-->
      <div class="col-3 align-items-start">
        <img src="/img/logo.png" alt="logo" class="img-fluid" id="imgmeiosup" />
      </div>
      <!--Div Descrição-->
      <div class="col-6 card-body align-items-center" id="contmeiosup">
        <h1 id="textog" class="display-6 card-title">Carità</h1>
        <p id="textop" class="lead card-text">
          Bem-vindo ao Caritá! uma plataforma dedicada a facilitar a arrecadação
          de alimentos em Votorantim-SP. Nosso objetivo é combater a fome e
          promover a solidariedade, ajudando doadores a encontrar pontos de
          coleta de maneira fácil e segura. Divulgamos organizações de caridade
          e facilitamos o processo de doação para garantir que suas
          contribuições realmente façam a diferença. Nosso compromisso é com a
          redução da fome (ODS 2), redução das desigualdades (ODS 10) e o
          consumo responsável (ODS 12).
        </p>
      </div>
    </div>
  </div>
</div>
