.compartilhe {
    background-color: #F9C89B;
    height: 200px;
    padding: 20px;
   
  }
   
  h5 {
    font-weight: 700;
    color: #522916;
    font-size: 25px;
    margin-bottom: 20px;
   
  }
  .compartilhe p {
    font-weight: 400;
    color: #522916;
    font-size: 16px;
  }

  .botao{
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 45px;
    cursor: pointer;
    color: #522916;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.348);
}

a{
  text-decoration: none;
  color: var(--cor-textoPrimaria);
}

