<!--Banner Secundário Informações (Página Inicial)-->
<!-- alinha verticalmente / alinha horizonalmente -->
<div class="container-fluid">
  <!--Div com Imagem Verduras e dados-->
  <div
    class="row align-items-center justify-content-center imgVerduras text-center"
  >
    <div class="col-4 d-flex flex-column align-items-center">
      <img src="/img/PaginaInicial/brasil (1).png" id="imgpmeio1" />
      <p id="textoVerduras">
        A fome atinge 8,5 milhões de pessoas em todo Brasil
      </p>
    </div>
    <!--Div com Imagem Prato e dados-->
    <div class="col-4 d-flex flex-column align-items-center">
      <img src="/img/PaginaInicial/prato.png" id="imgpmeio1" />
      <p id="textoVerduras">
        Na cidade de Votorantim mais de 1.100 pessoas estão em situação de
        extrema pobreza
      </p>
    </div>
    <!--Div com Imagem família e  dados-->
    <div class="col-4 d-flex flex-column align-items-center">
      <img src="/img/PaginaInicial/familia.png" id="imgpmeio1" />
      <p id="textoVerduras">
        Mais de 6.000 famílias em situação de pobreza em nossa cidade
      </p>
    </div>
  </div>
</div>
